@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

#loader::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: 10px solid #fdfdfd;
  border-bottom-color: #343434;
  border-radius: 50%;
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  filter: opacity(25%);
}
